<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"       content="width=device-width, initial-scale=1.0">
    <meta name="description"    content="Shurly App - Promote What You Support">
    <meta name="keywords"       content="url shortener, shurly, iOS, android">
    <meta name="author"         content="Abid Siddiqi">

    <!-- Site title -->
    <title>Shurly - Promote What You Support</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">


    <!-- Plugin Css -->
    <link href="assets/css/plugin.css" rel="stylesheet">

    <!-- Site css -->
    <link href="assets/css/style.css" rel="stylesheet">

    <link href="assets/css/custom.css" rel="stylesheet">

    <!-- Site css -->
    <link href="assets/css/responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178104038-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-178104038-1');
    </script>
       
</head>

<body>

    <!-- Preloader starts-->
    <div id="preloader"></div>
    <!-- Preloader ends -->





    <!-- Navigation area starts -->
    <div class="menu-area navbar-fixed-top">
        <div class="container">
            <div class="row">
 
                <!-- Navigation starts -->
                <div class="col-md-12">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header ">
                                <a class="navbar-brand align-middle" href="#">
                                   <img class="logo" src="assets/img/sharely.png"  alt="Shurly">
                                </a>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a class="smooth_scroll" href="#slider">HOME</a></li>
                                        <li><a class="smooth_scroll" href="#feature">FEATURES</a></li>
                                        <li><a class="smooth_scroll" href="#price">PRICING</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation ends -->

            </div>
        </div>
    </div>
    <!-- Navigation area ends -->



    <!-- Slider area starts -->
    <section id="slider" class="slider-area">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="slider-text clearfix">
                            <h1>Promote What <br> You Support.</h1>
                            <p>Shorten your links with Shurly and display your message before showing the content of the link. Now you can promote the cause you support, business you just started or a funny gif without writing any content. Just find interesting content from the web and start sharing it with your audience using Shurly while promoting what you support. Download and start using for free!</p>
                            <div class="btn-set">
                                <!-- <a href="https://play.google.com/store/apps/details?id=com.invotyx.shurly" class="btn btn-black">
                                    <i class="fa fa-android"></i>
                                    <div class="btn-text">
                                        <h3>Download</h3>
                                        <p>it from Playstore</p>
                                    </div>
                                </a> -->
                                <a href="https://apps.apple.com/us/app/shurly-url-shortener-new/id1530773533" class="btn btn-white">
                                    <i class="fa fa-apple"></i>
                                    <div class="btn-text">
                                        <h3>Download</h3>
                                        <p>it from Appstore</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- slider image -->
                    <div class="col-md-6 col-sm-12 col-xs-12 slider-img">
                        <img class="image" src="assets/img/screenshots/IMG_0201.png" alt="">
                    </div>

                
                </div>
            </div>
    </section>
    <!-- Slider area ends -->



    <!-- Hero boxes starts -->
    <section class="hero-box-area section-big">
        <div class="container">

            <div class="row">

                <!-- Hero box -->
                <div class="col-md-4 col-sm-6">
                    <div class="hero-box">
                        <span class="lnr lnr-magnifier"></span>
                        <h3>1) Find</h3>
                        <p>Look for interesting content from the internet that your audience would love.</p>
                    </div>
                </div>

                <!-- Hero box -->
                <div class="col-md-4 col-sm-6">
                    <div class="hero-box">
                        <span class="lnr lnr-pointer-up"></span>
                        <h3>2) Choose</h3>
                        <p>Select the message you want to display before showing the content of the link.</p>
                    </div>
                </div>

                <!-- Hero box -->
                <div class="col-md-4 col-sm-6">
                    <div class="hero-box">
                        <span class="lnr lnr-link"></span>
                        <h3>3) Share</h3>
                        <p>Share the shortened link on social media as posts or 'swipe up' stories. </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Hero boxes ends -->



    <!-- Feature area starts -->
    <section id="feature" class="feature-area grey section-big">
        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="feture-img">    
                        <img class="image" src="assets/img/screenshots/IMG_0205.png" alt="">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="feature-content-one">
                        <h2>Display Images <br> Text or even GIFs</h2>
                        <p>Your message (Ads) can show a poster of the cause you are supporting or flier of your business with text/gifs to make your Ads more interesting. Trying is believing!</p>
                    </div>
                </div>

            </div>
            
        </div>
    </section>
    <!-- Feature area ends -->



    <!-- Feature area starts -->
    <section class="feature-area section-big">
        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="feature-content-two">
                        <h2>Analytics Help <br> In Measuring Your Success</h2>
                        <p>Your 'Shurly links' will give valuable insights including the number of clicks and location of your audience. Reach more people while measuring the success of your links with Shurly.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="feture-img">    
                        <img class="image" src="assets/img/screenshots/IMG_0206.png" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Feature area ends -->


    <!-- Price area starts -->
    <section id="price" class="pricing-area section-big">
        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Choose Your Pricing Plan</h2>
                        <p>We are and will always be free for all the causes you support.</p>
                
                    </div>
                </div>
            </div>

            <div class="row">
                

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6">
                    <div class="price-item" data-connectors="1">
                        <div class="info">
                            <h3>Cause</h3>
                            <p class="price">Free</p>
                        </div>
                        <div class="features">
                            <p>For Individual Uses</p>
                            <ul>
                                <li>1 Message/Ad</li>
                                <li>Unlimited links</li>
                                <li>Analytics</li>
                                
                            </ul>
                        </div>
                        <a class="btn" href="https://apps.apple.com/us/app/shurly-url-shortener-new/id1530773533">iOS Download</a><br>
                        <!-- <a class="btn" href="https://play.google.com/store/apps/details?id=com.invotyx.shurly">Android Download</a> -->
                    </div>
                </div>

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6">
                    <div class="price-item featured" data-connectors="1">
                        <div class="info">
                            <h3>Business</h3>
                            <p class="price">$3.97</p>
                        </div>
                          <div class="features">
                            <p>For Startups/Businesses</p>
                            <ul>
                                <li>3 Messages/Ads </li>
                                <li>Unlimited links</li>
                                <li>No watermark</li>
                                <li>Basic Support</li>
                               
                            </ul>
                          </div>
                          <a class="btn" href="https://apps.apple.com/us/app/shurly-url-shortener-new/id1530773533">iOS Download</a><br>
                          <!-- <a class="btn" href="https://play.google.com/store/apps/details?id=com.invotyx.shurly">Android Download</a> -->
                    </div>
                </div>

                <!-- Pricing Table -->
                <div class="col-md-4 col-sm-6">
                    <div class="price-item" data-connectors="1">
                        <div class="info">
                            <h3>Agency/Enterprise</h3>
                            <p class="price">$7.97</p>
                        </div>
                        <div class="features">
                            <p>For Large Organizations</p>
                            <ul>
                                <li>10 Messages/Ads</li>
                                <li>Unlimited links</li>
                                <li>No watermark</li>
                                <li>Analytics</li>
                                <li>Dedicated Support</li>
                            </ul>
                        </div>
                        <a class="btn" href="https://apps.apple.com/us/app/shurly-url-shortener-new/id1530773533">iOS Download</a><br>
                          <!-- <a class="btn" href="https://play.google.com/store/apps/details?id=com.invotyx.shurly">Android Download</a> -->
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Price area ends -->


    <!-- Action starts -->
    <section id="action" class="action-area section-big">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="action-img">
                        <img class="" src="assets/img/screenshots/pic.png" alt="">
                    </div>
                </div>

                <div class="col-lg-6 col-md-7 col-sm-7">
                    <div class="content-box">
                        <h2>Download for FREE <br> for iOS or Android</h2>
                        <p>People click on links they find interesting and now you can display your message right before they read that article. Revolutionize the way you promote your cause or business on social media using Shurly and skyrocket your reach.</p>

                        <div class="btn-set">
                            <!-- <a href="https://play.google.com/store/apps/details?id=com.invotyx.shurly" class="btn btn-black">
                                <i class="fa fa-android"></i>
                                <div class="btn-text">
                                    <h3>Download</h3>
                                    <p>it from Playstore</p>
                                </div>
                            </a> -->
                            <a href="https://apps.apple.com/us/app/shurly-url-shortener-new/id1530773533" class="btn btn-white">
                                <i class="fa fa-apple"></i>
                                <div class="btn-text">
                                    <h3>Download</h3>
                                    <p>it from Appstore</p>
                                </div>
                            </a>
                        </div>
                        
                    </div>

                    
                </div>

            </div>
        </div>
    </section>
    <!-- Action area ends -->





    <!-- Latest jQuery -->
    <script src="assets/js/jquery.min.js"></script>

    <!-- Plugin js -->
    <script src="assets/js/plugin.js"></script>

    

    <!-- Main js-->
    <script src="assets/js/main_script.js"></script>


</body>

</html>